<h1>Pages#welcome</h1>
<div id="app">
<google-map></google-map>
<navbar></navbar>
  <div>{{ message }}</div>
  <div>
  Info: {{ info }}
</div>
<iss-info :info="info"></iss-info>
<search-iss-time></search-iss-timeo>
</div>

